// PRIMARY NAVBAR //

.top-navbar {
    height: $page-primarynavbar-height;
    padding-top: 0;
    padding-bottom: 0;

    font-family: $font-family-secondary;

    background-color: $site-primarynavbar-background-color;

    // style for when an item in the top navbar is given the 'active' class
    .nav-link {
        color: $text-color-nav-default;

        &.active {
            color: $text-color-primarynav-active;
        }
    }
}

.navbar-brand {
    margin: 0 2rem 0 1rem;

    font-size: 1rem;
    padding: 0;
    color: $text-color-nav-default;
    font-weight: $font-weight-semibold;
}

.navbar-toggler {
    position: relative;

    border: unset;
    border-radius: unset;
    padding: 3px 1rem 3px 1rem;
}

// when top-navbar is horizontal & expanded (i.e. above the navbar-expand-md class), entries are displyed in a row
@include media-breakpoint-up(md) {
    .top-navbar {
        .nav-item {
            margin-right: .9rem;

            &:last-child {
                margin-right: .5rem;  // match and subtract the internal padding on the nav item so that rightmost is better symmetrically aligned on the right margin
            }
        }
    }
}


// Medium. 48em
@include media-breakpoint-down(md) {

    .navbar.top-navbar {
        padding-left: 0;
        padding-right: 0;
    }

}
