// site-specific styles for the sidepanel sidenav
//
// .sidenav styles add .sidepanel styles
// can also override .sidepanel styles here


$sidenav-width:                         260px;
$sidenav-width-md:                      $sidenav-width - 20;  // adjustment for smaller window sizes

$sidenav-background-color:              #062B62;
$sidenav-header-color:                  #001B4E;

$sidenav-closeButton-height:            36px;


$sidenav-list-offset-top:               $page-primarynavbar-height + 12;  // visual margin from top of sidebar to account for the header bar
$sidenav-list-space-left:               25px;
$sidenav-list-space-left-md:            20px;  // adjustment for smaller window sizes
$sidenav-list-space-right:              25px;

$pagelist-link-hover-color:             $link-color-highlight;

$pagelist-item-font-size-default:       0.83rem;
$pagelist-item-font-size-md:            decimal-round(($pagelist-item-font-size-default * 0.96), 3);  // adjustment for smaller window sizes

$pagelist-group-font-color:             #476978;
$pagelist-group-font-color-hover:       #3D88C9;

$group-color-transition-duration:       0.9s;


.sidenav {
    z-index: $sidepanel-zindex;
    position: fixed;

    top: 0;
    right: 0;  // the default position = right side of window

    height: 100vh;  // sidepanel extends the full height of the window

    overflow-x: hidden;

    padding: 0;
    background-color: $sidenav-background-color;

    // because the width of the top-level sidepanel is changed during the collapse event by Bootstrap,
    // an interior element is used to maintain a fixed width for the content.
    .sidenav-content {
        width: $sidenav-width;
    }

    // sidenav is structured to be one general "nav" element
    .nav {
        display: block;  // override Bootstrap
        //margin-left: $sidenav-list-space-left;  // left-side margin from the edge of sidenav
    }

    .navbar-nav {
        display: block;  // override Bootstrap
    }

    .nav-item {
        a {
            &:hover {
                color: $pagelist-link-hover-color;
                transition-duration: $nav-item-color-transition-duration;
            }
            transition-duration: $nav-item-color-transition-duration-long;
        }
    }

    .nav-link {
        margin-bottom: .5rem;
        padding-bottom: .5rem;
    }

    // bar at top of the sidenav. visually extends the horizontal primary navbar,
    // and contains the "X" close icon
    .sidenav-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $page-primarynavbar-height;

        // flex layout model to match the primary navbar
        display: flex;
        align-items: center;

        background-color: $sidenav-header-color;
    }

    .sidenav-close {
        // visually adjust the close button to match the position of the sandwich menu button in the primary nav
        margin-left: 193px;
    }

    // main content = list of the pages
    .sidenav-list {
        margin-top: $sidenav-list-offset-top;
        padding: 0 0 3rem $sidenav-list-space-left;
        font-family: $font-family-secondary;
    }

}

// style for when an item in the sidebar is given the 'active' class by scrollspy
#sideNav {
    .nav-link {
        &.active {
            color: $text-color-sidenav-active;
        }
    }
}

// pagelist is the section listing out the pages/links
.pagelist {
    margin-bottom: 1.5rem;
    padding-bottom: .6rem;

    font-size: $pagelist-item-font-size-default;
    line-height: 1.35;
}


// group = heading + list of items under that heading
.pagelist-group {
    margin-bottom: .9rem;

    &:hover {
        .pagelist-group {
            color: $pagelist-group-font-color-hover;
        }
    }
}

// title for groups of items
.sidenav-group-heading {
    margin-bottom: 0;
    padding: .37rem 0;

    font-weight: $font-weight-bold;
    letter-spacing: 0.03rem;

    color: $pagelist-group-font-color;
    transition: color $group-color-transition-duration;
}

// item
.sidenav-item {
    display: block;
    padding: .35rem 1rem .37rem 0rem;

    font-weight: $font-weight-normal;

    // .disabled = current = used for current location
    &.disabled,
    &:disabled {
        color: $core-white;
        font-weight: $font-weight-bold;
        letter-spacing: 0.03rem;  // typographic finess
        word-spacing: 0.03rem;  // typographic finess
    }
}


// specific styles for display on the index page (aka homepage)
.theme-homepage {
    .sidenav {
//         .nav {
//             margin-left: $sidenav-list-space-left;  // left-side margin from the edge of sidenav
//         }

        .sidenav-list {
            font-size: 1rem;
        }
    }
}


// for smaller screens
@include media-breakpoint-down(md) {

    .sidenav {

        .sidenav-content {
            width: $sidenav-width-md;
        }

//         .nav {
//             margin-left: $sidenav-list-space-left-md;  // left-side margin from the edge of sidenav
//         }

        .nav-link {
            margin-bottom: .25rem;
            padding-bottom: .35rem;
        }

        .sidenav-close {
            margin-left: 183px;
        }

        .sidenav-list {
            padding: 0 0 3rem $sidenav-list-space-left-md;
            font-size: .9rem;
        }
    }

    .pagelist {
        font-size: $pagelist-item-font-size-md;
    }
}