
$sidenav-width:                         260px;
$sidenav-width-sm:                      $sidenav-width - 25;

$sidenav-background-color:              #062B62;
$sidenav-pagesection-background-color:  adjust_hue(desaturate(lighten($sidenav-background-color, 2.7), 2), -1.1);

$sidenav-header-color:                  #001B4E;
$sidenav-closeicon-color:               #DDD;
$sidenav-closeicon-color-hover:         #FFF;

$sidenav-closeButton-height:            36px;

$sidenav-list-space-left:        25px;
$sidenav-list-space-left-sm:     15px;
$sidenav-list-space-right:       25px;
$sidenav-list-space-right-sm:    15px;

$sidenav-item-border-color:         #AFAFAA;
$sidenav-item-border-color:         desaturate(lighten($sidenav-background-color, 23%), 35%);

$pagelist-link-hover-color:          $link-color-highlight;

$pagelist-item-font-size-default:    0.81rem;
$pagelist-item-font-size-sm:         decimal-round(($pagelist-item-font-size-default * 0.95), 3);

$pagelist-group-font-color:         #476978;
$pagelist-group-font-color-hover:   #3D88C9;


// backdrop
$sidenav-backdrop-opacity:          0.6;
$sidenav-backdrop-bg-dark:          #000;
$sidenav-backdrop-bg-light:         #FFF;


// transitions
$sidenav-show-duration:             1.05s;
$sidenav-hide-duration:             0.31s;
$sidenav-hide-duration-fast:        0.10s;

$backdrop-show-duration:            0.33s;
$backdrop-hide-duration:            0.1s;

$group-color-transition-duration:        0.9s;



$enable-hover-media-query:  false !default;
// from bs: _hover.scss
@mixin hover-focus {
    @if $enable-hover-media-query {
        &:focus { @content }
        @include hover { @content }
    }
    @else {
        // &:focus,
        &:hover {
            @content
        }
    }
}


.sidenav {

    // store the duration values in the css so that the page's javascript can access/extract them later
    --sidenavDurationShow: #{$sidenav-show-duration};
    --sidenavDurationHide: #{$sidenav-hide-duration};
    --sidenavDurationHideFast: #{$sidenav-hide-duration-fast};

    position: fixed;
    z-index: $sidenav-zindex;  // z-index of Bootstrap4 default nav, plus 1

    top: 0;
    right: 0;  // the default position;

    height: 100vh;

    padding: 0;  // todo: technically, redundant
    overflow-x: hidden;

    background-color: $sidenav-background-color;

    // default on load to have no transition effect so that there is no slide-out animation shown when the page first loads (in some cases)
    transition-property: width;
    transition-timing-function: ease-out;

    // .collapsing is applied and removed by the Bootstrap4 collapse function during transitions
    &.collapsing {
        width: 0;
        transition-duration: $sidenav-show-duration;
        transition-property: width;
    }

    .sidenav-content {
        width: $sidenav-width;
    }

    // sidenav is structured to be one general "nav" element
    .nav {
        display: block;  // override Bootstrap4
        margin-left: $sidenav-list-space-left;  // left-side margin from the edge of sidenav
    }

    .navbar-nav {
        display: block;  // override Bootstrap4
    }

    .nav-item {
        a {
            @include hover-focus {
                color: $pagelist-link-hover-color;
                transition-duration: $nav-item-color-transition-duration;
            }
            transition-duration: $nav-item-color-transition-duration-long;
        }
    }

    .nav-link {
        margin-bottom: .5rem;
        padding-bottom: .5rem;
    }

    // header bar at top of the sidenav. visually extends the horizontal primary nav bar,
    // and contains the "X" close icon
    .sidenav-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        height: $page-primarynavbar-height;
        background-color: $sidenav-header-color;
    }

    .sidenav-closeIcon {
        // set same height as the header to make it vertically centered
        height: $page-primarynavbar-height;

        // visually adjust the close icon to the right to match the position of the hamburger menu in the primary nav
        margin-left: 193px;
    }

    // list of the pages
    .sidenav-list {
        margin-top: ($page-primarynavbar-height + 12);
        padding: 0 0 3rem 0;
        font-family: $font-family-secondary;
        letter-spacing: 0.02rem;
    }

}

// style for when an item in the sidebar is given the 'active' class
// by scrollspy
#sideNav {
    .nav-link {
        &.active {
            color: $text-color-sidenav-active;
        }
    }
}


.pagelist {
    margin-bottom: 1.5rem;
    padding-bottom: .6rem;

    font-size: $pagelist-item-font-size-default;
    line-height: 1.35;
}

.pagelist-group {
    margin-bottom: .9rem;

    @include hover-focus {
        .pagelist-group {
            color: $pagelist-group-font-color-hover;
        }
    }
}

// title for groups of items
.sidenav-group-heading {
    margin-bottom: 0;
    padding: .37rem 0;

    font-weight: $font-weight-bold;
    letter-spacing: 0.03rem;

    color: $pagelist-group-font-color;
    transition: color $group-color-transition-duration;
}

// item
.sidenav-item {
    display: block;
    padding: .35rem 1rem .37rem 0rem;

    font-weight: $font-weight-normal;

    // .disabled = current = used for current location
    &.disabled,
    &:disabled {
        color: $core-white;
        font-weight: $font-weight-bold;
        letter-spacing: 0.03rem;
        word-spacing: 0.02rem;
    }
}

// backdrop = the full-page background displayed when sidenav is displayed (open).
// designed to screen the existing page content
.backdrop {
    z-index: $sidenav-backdrop-zindex;
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;

    // in effect, fadeout is the default
    animation: backdropOut $backdrop-hide-duration linear normal;

    // when the fadein class is applied, fadein animation will be in effect
    &.fadein {
        animation: backdropIn $backdrop-show-duration linear forwards;
        animation-fill-mode: forwards;
    }

    &.show {
        display: block;
    }

    // light-coloured backdrop
    &.light {
        background-color: $sidenav-backdrop-bg-light;
    }
    // dark-coloured backdrop
    &.dark {
        background-color: $sidenav-backdrop-bg-dark;
    }
}

// animation: softly fadeIN the backdrop
@keyframes backdropIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: $sidenav-backdrop-opacity;
    }
}

// animation: softly fadeOUT the backdrop
// this keyframes rule is the reverse of backdropIn;
// this 'should' be possible to do by reversing backdropIn, but that doesnt appear tyo work as one might think
@keyframes backdropOut {
    0% {
        opacity: $sidenav-backdrop-opacity;
    }
    100% {
        opacity: 0;
    }
}


// overrides for display on the homepage
.theme-homepage {
    .sidenav {

        .nav {
            margin-left: $sidenav-list-space-left;  // left-side margin from the edge of sidenav
        }

        .sidenav-list {
            font-size: 1rem;
        }
    }
}


// for smaller screens
@include media-breakpoint-down(md) {

    .sidenav {

        .sidenav-content {
            width: $sidenav-width-sm;
        }

        .nav {
            margin-left: $sidenav-list-space-left-sm;  // left-side margin from the edge of sidenav
        }

        .nav-item {
            &.section {
                // do all this brittle adjustments so that the section element can have a different background color than the sidenav itself
                margin-left: -$sidenav-list-space-left-sm;
                padding-left: $sidenav-list-space-left-sm;
                padding-right: $sidenav-list-space-right-sm;
            }
        }

        .nav-link {
            margin-bottom: .25rem;
            padding-bottom: .35rem;
        }

        .sidenav-closeIcon {
            // visually adjust the close icon to the right to match the position of the menu glyph in the primary nav
            margin-left: 183px;
        }

        .sidenav-list {
            padding: 0 0 3.5rem 0;
            font-size: .9rem;
            letter-spacing: normal;
        }

    }

    // pagelist is the section listing out the pages/links
    .pagelist {
        font-size: $pagelist-item-font-size-sm;
    }
}