// ------- GALLERY -------

$gallery-image-max-height:              100px;

$gallery-item-text-color:               $core-black;
$gutter: $grid-gutter-width;

$gallery-item-side-padding:             10px;
$gallery-item-topbottom-margin:         25px;

$gallery-item-inside-margin-side:       30px;
$gallery-item-inside-margin-top:        25px;
$gallery-item-inside-margin-bottom:     25px;

$gallery-item-content-space-side:       20px;

$card-background-color-default:         #DBDBD7;

$card-border-radius:      4px;
$card-image-border-radius:          $card-border-radius;

$card-image-border-color:           #C1C1BF;

$duration-fast:       0.25s;
$duration-med:        0.4s;
$duration-slow:       0.8s;
$duration-very-slow:  1.8s;

$duration-long:       1.8s;


#gallery-grid {
    margin-left: -$gallery-item-side-padding;
    margin-right: -$gallery-item-side-padding;
}

.gallery-item {

    position: relative;  // TODO: not sure this is needed?

    // padding and margins that affect the overall grid layout of the set of cards
    margin: 0 0 $gallery-item-topbottom-margin 0;

    // override the default BS side padding (15px)
    // this override also requires adjusting the containing row
    padding-right: $gallery-item-side-padding;
    padding-left: $gallery-item-side-padding;

    // overrides of Bootstrap4 .card
    .card {

        padding-bottom: $gallery-item-inside-margin-bottom;

        background-color: $card-background-color-default;
        border: 0;
        border-radius: $card-border-radius;

        // transition-property: background-color;
        // transition-duration: ($duration-fast / 2);  // cut in half because the color difference in background-color between normal and hovered is very small
        // transition-timing-function: $card-hover-default-transition-function;


        // link element is the primary container so that the entire card is clickable
        a {
            padding: $gallery-item-inside-margin-top $gallery-item-inside-margin-side $gallery-item-inside-margin-bottom $gallery-item-inside-margin-side;
        }

        &:hover {
            .card-overlay {
                &.light {
                    visibility: visible;
                    opacity: 1;  // turn on visibility when hovering
                }
                &.dark {
                    visibility: hidden;  // turn off visibility when hovering in attempt to optimize. can't use display: none
                }
            }
        }

        // container for the gallery image
        .card-image {
            position: relative;  // has position relative so that child elements (overview) can have correct position
            overflow: hidden;
            height: $gallery-image-max-height;

            border-radius: $card-image-border-radius $card-image-border-radius $card-image-border-radius/2 $card-image-border-radius/2;

            margin-bottom: 10px;
            background-color: #555;  // fpo
        }

        // the page description text
        .card-overview {
            flex-grow: 2;
            position: relative;

            margin: 0 $gallery-item-content-space-side 2rem $gallery-item-content-space-side;

            font-size: 14px;
            line-height: 1.4;

            color: $gallery-item-text-color;
        }

        // the group and name
        .card-info {
            position: relative;

            margin: 0 $gallery-item-content-space-side;
            font-size: 16px;
            line-height: 1.4;

            color: $gallery-item-text-color;
        }

        // subtitle = group name
        .card-group {
            margin: 0;
            font-size: inherit;
            font-weight: $font-weight-normal;
        }

        // title = page name
        .card-name {
            margin: 2px 0 0 0;
            font-size: inherit;
            font-weight: $font-weight-semibold;
        }
    }

}
