#osx stuff
.DS_Store

# bbedit project files
*.bbprojectd

# Logs
logs
*.log
npm-debug.log*

# node stuff
node_modules
npm-debug.log
_site

#sass scss etc
.sass-cache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# destination folders for builds
public
build
demo