{{!--
**********
page component

page title at top of the page

**********
--}}

<header class="page-header" id="overview">
    <div class="container">
    <div class="row no-guttersX">
        <div class="col-md-9 offset-md-3 col-lg-8 offset-lg-2">
            <h1>{{~getPageData this page "page-title"~}}</h1>
        </div>
    </div>
    </div>
</header>