// base file for site style variable values

// !!!!!
//
// NON-RENDERING SASS
// Do not put any "rendering" css rules into this file, or it will be needlessly duplicated
// This file is only for declaration of variables and mixins
// !!!!!
//
// explanation note:
// rendering = sass that renders css in the final sass generation/compilation
// non-rendering = variables, mixins, and other resources that are used by the rendering sass
//
// !!!!!


// WINDOW properties
$breakpoint-height-sm:           760px;
$breakpoint-height-md:           900px;
$breakpoint-height-lg:           1080px;

// COLORS
// various colors

$core-black:             #000000;
$toasted-black:          #130A02;
$core-charcoal:          #424242;
$core-white:		     #FFFFFF;
$core-blue:              #2C95DD;
$cerulean-blue-ish:      #618BFF;


// color increments of 16/256
$color-black-lighter1:   lighten($core-black, 6.66667%);   // #111111
$color-black-lighter2:   lighten($core-black, 13.33333%);  // #222222
$color-black-lighter3:   lighten($core-black, 20.0%);      // #333333
$color-black-lighter4:   lighten($core-black, 26.66667%);  // #444444
$color-black-lighter5:   lighten($core-black, 33.33333%);  // #555555

$color-white-darker1:    darken($core-white, 6.66667%);    // #EEEEEE
$color-white-darker2:    darken($core-white, 13.33333%);   // #DDDDDD
$color-white-darker3:    darken($core-white, 20.0%);       // #CCCCCC
$color-white-darker4:    darken($core-white, 26.66667%);   // #BBBBBB
$color-white-darker5:    darken($core-white, 33.33333%);   // #AAAAAA

// background colors
// $background-color-second:       #95AF57;

// text colors
// increment the colors in steps of 16/256
$text-color-black:              $core-black;
$text-color-black-lighter1:     lighten($core-black, 6.66667%);   // #111111
$text-color-black-lighter2:     lighten($core-black, 13.33333%);  // #222222
$text-color-black-lighter3:     lighten($core-black, 20.0%);      // #333333
$text-color-black-lighter4:     lighten($core-black, 26.66667%);  // #444444

$text-color-white-muted:        darken($core-white, 6.66667%);    // #EEEEEE
$text-color-white-darker1:      darken($core-white, 6.66667%);    // #EEEEEE
$text-color-white-darker2:      darken($core-white, 13.33333%);   // #DDDDDD
$text-color-white-darker3:      darken($core-white, 20%);         // #CCCCCC
$text-color-white-darker4:      darken($core-white, 26.66667%);   // #BBBBBB
// @debug $text-color-white-muted;

$link-color-primary:    #007BFF;

$theme-link-color:                $link-color-primary;
$theme-link-decoration:           none;
$theme-link-hover-color:          darken($link-color-primary, 13%);
$theme-link-hover-decoration:     none;

$theme-link-active:               $color-white-darker1;


$body-text-color-default:       $text-color-black-lighter1;
$text-color-nav-default:        $color-black-lighter3;
$text-color-primarynav-active:  $text-color-black-lighter1;


$link-color-highlight:  #55AA11;
$default-border-color: $color-white-darker5;


// LAYOUT
$page-primarynavbar-height:     50px;  // height of the primary nav bar on the page



// TYPOGRAPHY
//
// font families
$font-family-primary:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

// scale factor for how much to reduce $font-secondary compared to font-primary,
// used when roboto appears within text with $primary;
// roboto slab has a larger x-height than source sans.
// this is to try to achieve better visual harmonry between the fonts,
// and is pretty much entirely dependent on visual evaluation.
$font-secondlevel-scale:  0.95;

// font weights
$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-semibold:  600;
$font-weight-bold:      700;

// font sizes
$page-heading-size:      2.9rem;

// NAV transitions
$nav-item-color-transition-duration:        0.3s;
$nav-item-color-transition-duration-long:   0.8s;


// MIXINS

@mixin uppercase {
    text-transform: uppercase;
}

@mixin titlecase {
    text-transform: capitalize;
}

@mixin lowercase {
    text-transform: lowercase;
}

@mixin cursor-grab {
    cursor: grab;
}

@mixin cursor-grabbing {
    cursor: grabbing;
}

// Do not put any css rules into this file. This file is only for declaration of variables and mixins
//