// PAGES
// styles for individual pages


$page-primarynavbar-background-color: $site-primarynavbar-background-color;

$page-header-background-color-scrolled:  lighten($page-primarynavbar-background-color, 3%);

$page-header-space-top:                     15px;

$page-section-spacing-top:                  0;
$page-section-spacing-bottom:               3.5rem;
$page-subsection-spacing-top:               .5rem;
$page-subsection-spacing-bottom:            1rem;

$page-layout-space-between-column:       20px;

$heading-font-size-lg:                  3.0rem;
$heading-line-height:                   1.1;

$page-section-border-bar-color:             #AFAFAA;

$nav-link-padding:                          0 0 1px 0;

$list-padding:      10px;

// $side-item is used for the individual items in the right sidebar (tags, roles, etc) and the left nav (table of contents)
$side-item-line-height:                 1.21rem;
$side-item-margin-bottom:               .5rem;
$side-item-margin-bottom-adjustment:    .15rem;
$side-item-heading-lineheight:          1.4rem;


$overview-font-shift:       -6px;
$overview-font-size:        1.65rem;
$overview-font-lineheight:  1.45;
$overview-font-spacing:     -0.01rem;

@mixin section-border-bar ($border-side: "border-top") {
    #{$border-side}: 1px dotted $page-section-border-bar-color;
}

@mixin sidebar-z-index {
    position: relative;
    z-index: 30;
}

@mixin sidebarText {
    line-height: $side-item-line-height;
    margin-bottom: $side-item-margin-bottom;
}




// **********

ul, ol {

    &.list-unstyled {
        li {
            padding-left: 0;
        }
    }

}

section {

    li {
        padding-left: $list-padding; // space between the bullet and the text
    }
}

@include media-breakpoint-up(md) {
    .mainColumn {
        font-size: 16px;
    }
}


// header on general page
.page-header {
    margin-bottom: 3rem;
    padding-top: $page-primarynavbar-height + $page-header-space-top;

    h1 {
        position: relative;
        left: -2px;
        font-weight: $font-weight-semibold;
        font-size: $heading-font-size-lg;
        line-height: $heading-line-height;
        letter-spacing: -0.03rem;
        word-spacing: 0.05rem;
    }
}


// content-page specific styles
.theme-page {

    .top-navbar {
        height: $page-primarynavbar-height;
        background-color: $page-primarynavbar-background-color;
    }

    // only applied to a <section>
    .page-section {
        margin-top: $page-section-spacing-top;
        margin-bottom: $page-section-spacing-bottom;

        &+.page-subsection {
            margin-top: -1rem;
        }
    }

    .page-subsection {
        padding-top: $page-subsection-spacing-top;
        margin-bottom: $page-subsection-spacing-bottom;
    }

    // h2 follwed immediately by h3
    h2 + h3 {
        margin-top: 1rem;
    }

    // extra space above the div when it comes right after a heading
    h2 {
        & + div {
            padding-top: 1.5rem;
        }
    }

}


#TOCnav {
    padding: 0 0 1rem 0;

    @include section-border-bar;
    @include section-border-bar("border-bottom");

    font-family: $font-family-secondary;

    .nav-item {
        @include sidebarText;
    }

    // spacing for each top-level .nav-item (FIRST-LEVEL headings)
    > .nav-item {
        margin-bottom: $side-item-margin-bottom;
    }

    // FIRST-LEVEL NAV,
    // the main sections (h2 headings in the page)
    @at-root nav#{&} {  // = nav#TOCNav
        flex-direction: column;

        // SECOND-LEVEL NAV,
        // the subsections (h3 headings in the page)
        nav {
            flex-direction: column;

            margin-top: .41rem;
            margin-bottom: $side-item-margin-bottom;
            padding-left: 15px;

            // subsection text is slightly smaller than the main section
            $second-level-font-size: decimal-round(($font-secondary-scale * 0.95), 3);
            font-size: #{$second-level-font-size}em;

            // vertical spacing adjustment for the subsections in table of contents nav
            &.subnav {
                margin-bottom: -$side-item-margin-bottom-adjustment;
            }
        }
    }

    .nav-link {
        padding: 0;

        transition: color $nav-item-color-transition-duration-long ease;

        &.active {
            transition: color $nav-item-color-transition-duration ease;
        }

        &:not(.active):hover {
            transition: color $nav-item-color-transition-duration ease;
        }
    }
}

// intended width of the TOCnav section
// this is basically recreating/hardcoding the eventual widths of the .leftColumn section in the layout
// but done this way because TOCnav is given position: fixed, so physical width needs to be hardcoded
// - $size is keyed to the bootstrap breakpoints
// - $width is measurement of how wide the column ends up being inside fixed width .container
// smaller sizes not needed because the TOC is set to not display at those sizes
$TOCnav-widths: (
    md:  150px,
    lg:  130px,
    xl:  160px,
);

@each $size, $width in ($TOCnav-widths) {

    @include media-breakpoint-up($size) {
        #TOCnav {
            width: $width;
        }
    }
}


// bigger
@include media-breakpoint-up(md) {

    .theme-page {

        .page-section {
            margin-top: $page-section-spacing-top;
            margin-bottom: $page-section-spacing-bottom;

            &+.page-subsection {
                margin-top: -1rem;
            }
        }

        .page-subsection {
            padding-top: $page-subsection-spacing-top;
            margin-bottom: $page-subsection-spacing-bottom;
        }
    }

    #TOCnav {
        position: fixed;
        border-bottom: none;  // turn off border bottom at larger sizes where the TOCnav is in its own column
    }
}



.theme-page {
    .page-overview {

        position: relative;
        // small shift of entire block upwards for better visual alignment of the text with the sidebar rules
        margin-top: $overview-font-shift;
        margin-bottom: 2.5rem;

        font-size: $overview-font-size;  // TODO: fix this reference. better name?
        line-height: $overview-font-lineheight;
        letter-spacing: $overview-font-spacing;

        p {
            margin-bottom: 1.5rem;
        }

        ul,
        ol {
            margin-top: -.5rem;
        }
    }
}

// medium, and up
@include media-breakpoint-up(md) {

    .theme-page {
        .page-overview {
            margin-bottom: 4.0rem;
        }
    }

}


