//
// site homepage
//

// =============
// INTRO

#introduction {
    background-color: $background-color-intro;
}

// =============
// second section

#second {
    background-color: $background-color-second;
}

// =============
// GALLERY

#gallery {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
