{{!--
**********

partial: used in sidenav
item/page name

--}}

<li>
{{#unless currentPage}}
<a class="nav-link" href="{{> page-url}}">
{{else}}
<div class="nav-link disabled current">
{{/unless}}
    {{{pagename}}}
{{#unless currentPage}}
</a>
{{else}}
</div>
{{/unless}}
</li>