// demo style file
// GENERAL common, shared style definitions for the demos

$pill-width-demo:                310px;
$pill-height-demo:               82px;
$pill-background-color-demo:     #130737;

footer {
    padding: 2rem 0;
}

// specifics for the demo pill
.pill {
    &.demo {
        width: $pill-width-demo;
        height: $pill-height-demo;

        background-color: $pill-background-color-demo;
        color: $core-white;
    }

    &.demo-simple {
        margin: 5rem auto 0 auto;
    }

    &.demo-complex {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
