// main style file
// GENERAL common, shared style definitions


html {
  scroll-behavior: smooth;
}

// TYPOGRAPHY */

body {
    position: relative;
    font-family: $font-family-primary;
}

// links. obviously.
a {
    color: $theme-link-color;
    text-decoration: $theme-link-decoration;

    &:hover {
        color: $theme-link-hover-color;
        text-decoration: $theme-link-hover-decoration;
    }
}

// global defaults for ALL nav-links
.nav-link {

    // default transition for nav-link. will apply when un-hovering a link
    transition: color $nav-item-color-transition-duration-long ease;

    &.active {
        font-weight: $font-weight-semibold;
        color: $text-color-nav-default;
    }
    &:not(.active):hover {
        color: $link-color-highlight;
        transition: color $nav-item-color-transition-duration ease;
    }
}

h1, h2, h3, h4, h5, h6,
b, strong {
    font-weight: $font-weight-semibold;
}

// SECTION TYPES

.theme-section {
    position: relative;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.theme-section-full {
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.theme-section-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
    padding: 1rem 0 2rem 0;
    border-top: 1px dotted #BBB;
    font-family: $font-family-secondary;
}
