// main style file
// GENERAL common, shared style definitions


$background-color-footer:       #EDEDEA;


html {
  scroll-behavior: smooth;
}

// TYPOGRAPHY */

body {
    position: relative;
    font-family: $font-family-primary;
}

// links. obviously.
a {
    color: $theme-link-color;
    text-decoration: $theme-link-decoration;

    &:hover {
        color: $theme-link-hover-color;
        text-decoration: $theme-link-hover-decoration;
    }
}

// defaults for nav-links
// applies to primary navbar when horizontal, and table-o'contents
// .active is applied by scrollspy
.nav-link {

    transition: color $nav-item-color-transition-duration-long ease;

    &.active {
        font-weight: $font-weight-semibold;
        color: $text-color-nav-default;
    }
    &:not(.active):hover {
        color: $link-color-highlight;
        transition-duration: $nav-item-color-transition-duration;
    }

    // .disabled = current = used for current location
    &.disabled,
    &:disabled {
        color: $core-white;
        font-weight: $font-weight-bold;
        letter-spacing: 0.03rem;  // typographic finnese
        word-spacing: 0.03rem;  // typographic finesse
    }

}


h1, h2, h3, h4, b, strong {
    font-weight: $font-weight-semibold;
}

// SECTION TYPES

.theme-section {
    position: relative;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.theme-section-full {
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.theme-section-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.theme-section-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theme-section-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

footer {
    padding: 1rem 0 2rem 0;
    border-top: 1px dotted #BBB;
    background-color: $background-color-footer;
    font-family: $font-family-secondary;
}


// design styles
section {
    &.theme-section {
        h2 {
            margin-bottom: 5rem;
        }
    }

    ul {
        > li {
            font-weight: bold;

            li {
            font-weight: normal;
            }
        }
    }

}


