// PRIMARY NAVBAR //


$site-primarynavbar-background-color:       #DDDDDA;
$site-primarynavbar-background-color:       #D0D0CC;


.top-navbar {
    height: $page-primarynavbar-height;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    margin: 0 2rem 0 1rem;
    font-size: 1rem;
    padding: 0;
    color: $text-color-nav-default;
    font-weight: $font-weight-semibold;
}
