// PRIMARY NAVBAR //

$site-primarynavbar-background-color:       #DDDDDA;
$site-primarynavbar-background-color:       #D0D0CC;

.top-navbar {
    height: $page-primarynavbar-height;
    padding: 0 1rem 0 1rem;
    font-family: $font-family-secondary;
    background-color: $site-primarynavbar-background-color;

    // style for when an item in the top navbar is given the 'active' class
    .nav-link {
        color: $text-color-nav-default;

        &.active {
            color: $text-color-primarynav-active;
        }
    }
}

.navbar-brand {
    // margin: 0 2rem 0 1rem;
    padding: 0;

    font-size: 1rem;
    font-weight: $font-weight-semibold;

    color: $text-color-nav-default;
}

// using a custom toggler glyph, not the default Bootstrap one
.navbar-toggler {
    position: relative;
    border: unset;
    border-radius: unset;
    padding: 3px 1rem 3px 1rem;
}
