// visual design styles for the side-nav page element
//
// .sideNav styles add to .sidePanel styles for site-specific design.
// one could also override .sidePanel styles here

$sideNav-side:                          "right";  // the default position = right side of window
$sideNav-zindex:                        $zindex-fixed + 1;  // z-index of Bootstrap4 default nav, plus 1, to put the side-nav above the nav

$sideNav-width-large:                   260px;
// $sideNav-width-small:                   $sideNav-width-large - 20;  // adjustment for smaller window sizes

$sideNav-background-color:              #24415A;
$sideNav-header-bar-color:              darken($sideNav-background-color, 6.6667%);

$sideNav-closeButton-height:            36px;
// $sideNav-close-xposition-small:         177px;
$sideNav-close-xposition-large:         184px;

$sideNav-nav-offset-top:                $page-primarynavbar-height + 12;  // visual margin from top of sidebar to account for the header bar
$sideNav-nav-padding-left:              25px;


.sideNav {
    z-index: $sideNav-zindex;
    position: fixed;
    top: 0;
    bottom: 0;
    #{$sideNav-side}: 0;
    height: 100vh;  // sidePanel extends the full height of the window
    padding: 0;
    overflow-x: hidden;

    background-color: $sideNav-background-color;

    // because the width of the top-level .sidePanel element is changed during the collapse event by Bootstrap,
    // an interior element is used to maintain a fixed width for the content.
    .sideNav-content {
        position: relative;
        width: $sideNav-width-large;
    }

    // sideNav is structured to be one general "nav" element
    // main nav in the sideNav
    .nav {
        display: block;  // override Bootstrap
        margin-top: $sideNav-nav-offset-top;
        padding: 0 0 3rem $sideNav-nav-padding-left;
    }

    .navbar-nav {
        display: block;  // override Bootstrap
    }

    // bar at top of the sideNav. visually extends the horizontal primary navbar,
    // and contains the "X" close icon.
    // near replication to match the primary navbar
    .sideNav-headBar {
        z-index: $sideNav-zindex;
        position: fixed;

        width: $sideNav-width-large;
        height: $page-primarynavbar-height;

        // flex layout model to match the primary navbar
        display: flex;
        align-items: center;

        background-color: $sideNav-header-bar-color;
    }

    .sideNav-close {
        // visually adjust the close button to try to match the position of the sandwich menu button in the primary nav
        margin-left: $sideNav-close-xposition-large;
    }
}

// for larger windows
@include media-breakpoint-up(md) {
    .sideNav {}
}
