// site-specific styles for the sidepanel sidenav
//
// .sidenav styles add .sidepanel styles
// can also override .sidepanel styles here

// sidepanel universal values
$sidenav-zindex:                        $zindex-fixed + 1;  // z-index of Bootstrap4 default nav, plus 1, to put .sidepanel above the nav

$sidenav-width-large:                   260px;
$sidenav-width-small:                   $sidenav-width-large - 20;  // adjustment for smaller window sizes

$sidenav-background-color:              #062B62;
$sidenav-header-color:                  #001B4E;
$sidenav-border-color:                  desaturate(lighten($sidenav-background-color, 13.33333%), 33.33333%);

$sidenav-closeButton-height:            36px;

$sidenav-close-xposition-small:         193px;
$sidenav-close-xposition-large:         183px;

$sidenav-nav-offset-top:                $page-primarynavbar-height + 12;  // visual margin from top of sidebar to account for the header bar
$sidenav-nav-margin-left-large:         25px;
$sidenav-nav-margin-left-small:         20px;  // adjustment for smaller window sizes
$sidenav-nav-margin-right:              25px;

$pagelist-link-hover-color:             $link-color-highlight;
$nav-item-font-size:                    0.83rem;

$nav-group-font-color:             #476978;
$nav-group-font-color-hover:       #3D88C9;

$group-color-transition-duration:       0.9s;


.sidenav {
    z-index: $sidenav-zindex;
    position: fixed;
    top: 0;
    right: 0;  // the default position = right side of window
    height: 100vh;  // sidepanel extends the full height of the window
    overflow-x: hidden;
    padding: 0;
    background-color: $sidenav-background-color;
    border-left: 1px solid $sidenav-border-color;

    // because the width of the top-level sidepanel is changed during the collapse event by Bootstrap,
    // an interior element is used to maintain a fixed width for the content.
    .sidenav-content {
        width: $sidenav-width-small;
    }

    // sidenav is structured to be one general "nav" element
    .nav {
        display: block;  // override Bootstrap
    }

    .navbar-nav {
        display: block;  // override Bootstrap
    }

    .nav-item {
        a {
            &:hover {
                color: $pagelist-link-hover-color;
                transition-duration: $nav-item-color-transition-duration;
            }
            transition-duration: $nav-item-color-transition-duration-long;
        }
    }

    .nav-link {
        margin-bottom: .25rem;
        padding-bottom: .35rem;
    }

    // bar at top of the sidenav. visually extends the horizontal primary navbar,
    // and contains the "X" close icon
    .sidenav-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $page-primarynavbar-height;

        // flex layout model to match the primary navbar
        display: flex;
        align-items: center;

        background-color: $sidenav-header-color;
    }

    .sidenav-close {
        margin-left: $sidenav-close-xposition-small; // visually adjust the close button to match the x-position of the sandwich menu button in the primary nav
    }

    // main content = list of the pages
    .sidenav-nav {
        margin-top: $sidenav-nav-offset-top;
        padding: 0 0 3rem $sidenav-nav-margin-left-small;
        font-family: $font-family-secondary;
        font-size: .9rem;
    }
}

// style for when an item in the sidebar is given the 'active' class by scrollspy
#sideNav {
    .nav-link {
        &.active {
            color: $theme-link-active;
        }
    }
}

// pagelist is the section listing out the pages/links
.pagelist {
    margin-bottom: 1.5rem;
    padding-bottom: .6rem;

    font-size: $nav-item-font-size;
    line-height: 1.35;
}


// group = heading + list of items under that heading
.sidenav-group {
    margin-bottom: .9rem;

    &:hover {
        color: $nav-group-font-color-hover;
    }
}

// title for groups of items
.sidenav-group-heading {
    margin-bottom: 0;
    padding: .37rem 0;

    font-weight: $font-weight-bold;
    letter-spacing: 0.03rem;

    color: $nav-group-font-color;
    transition: color $group-color-transition-duration;
}

// item
.sidenav-item {
    display: block;
    padding: .35rem 1rem .37rem 0;

    font-weight: $font-weight-normal;

    // .disabled = current = used for current location
    &.disabled,
    &:disabled {
        color: $core-white;
        font-weight: $font-weight-bold;
        letter-spacing: 0.03rem;  // typographic finess
        word-spacing: 0.03rem;  // typographic finess
    }
}


// specific styles for display on the index page, aka homepage
.theme-homepage {
    .sidenav {
        .sidenav-nav {
            font-size: 1rem;
        }
    }
}


// for larger windows
@include media-breakpoint-up(md) {

    .sidenav {
        .sidenav-content {
            width: $sidenav-width-large;
        }

        .nav-link {
            margin-bottom: .5rem;
            padding-bottom: .5rem;
        }

        .sidenav-close {
            margin-left: $sidenav-close-xposition-large;
        }

        .sidenav-nav {
            padding: 0 0 3rem $sidenav-nav-margin-left-large;
            font-size: 1rem;
        }
    }
}
