<!DOCTYPE html>
<html lang="en">
<head>
    {{> site-dochead}}
</head>

<body class="{{getProjectIdByPage page}}">
<div class="theme-page">

{{> page-primarynav}}

<main class="container">
    <div class="row">
        <div class="col-md-3 col-lg-2 leftColumn"></div>
        <div class="col-md-9 col-lg-9 mainColumn">
            {{> page-header}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-2 leftColumn">
            {{{page-toc}}}
        </div>
        <div class="col-md-9 col-lg-9 mainColumn">
            {{> body}}
        </div>
    </div>
</main>

{{> page-footer}}

</div>

{{> site-js}}

{{> page-function}}

</body>
</html>