/*
 * styles for the primarynav dingbat
 *
*/

$dingbat-element-width:     32px;
$dingbat-element-fontsize:  1.7rem;

.dingbat {
    position: relative;
    width: $dingbat-element-width;
    margin: 0;
    font-size: $dingbat-element-fontsize;

	span {
        display: block;
        text-align: center;
	}
}
