// 'pill' like element

$pill-background-color:         #BBB;
$pill-border-radius:            1rem;
$pill-padding:                  8px;
$pill-text-font-size:           1rem;


// basic pill-like shape
.pill {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: $pill-padding;
    background-color: $pill-background-color;
    border-radius: $pill-border-radius;

    font-size: $pill-text-font-size;
    text-align: center;

    .pill-content {
        margin: 0;
        padding: 0;
    }
}