/*
 * default styles for pill-like element
 *
*/

$pill-border-radius:            0.75rem;
$pill-padding:                  8px;
$pill-text-font-size:           1rem;

.pill {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: $pill-padding;
    border-radius: $pill-border-radius;

    // background-color: $pill-background-color;

    font-size: $pill-text-font-size;
    text-align: center;

    .pill-content {
        margin: 0;
        padding: 0;
    }
}
