// **********
// pure css close "x" icon
// from: https://codepen.io/ndeniche/pen/ljbDL

$closeicon-size:                    25px;
$closeicon-thickness:               3.4px;  // // the graphic's bars are rotated rectangles. thickness of the bars
$closeicon-rounding:                1.8px;  // the rounding value is the css corners of the rectangles, to soften the bars
$closeicon-color-default:           $color-white-darker4;   // color of the graphic in normal state
$closeicon-color-hover:             $core-white;            // color of the graphic when hovered
$closeicon-transition-duration:    .25s;            // duration of color change on hover

.closeIcon {
    position: relative;
    display: inline-block;

    width: $closeicon-size;
    height: $closeicon-size;
    overflow: hidden;

    &:hover {
        &::before,
        &::after {
          background: $closeicon-color-hover;
        }
    }

    &::before,
    &::after {
        position: absolute;
        top: 49%; // visually adjust position upwards slightly from 50%?
        left: 0;

        content: "";
        width: $closeicon-size;
        height: $closeicon-thickness;
        background: $closeicon-color-default;
        border-radius: $closeicon-rounding;
        transition: background $closeicon-transition-duration ease;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}