//
// site homepage
//




#introduction {
    background-color: $background-color-intro;
}


// =============
// INTRO


#second {
    background-color: $background-color-second;
}


// =============
// GALLERY

#gallery {
    padding-top: 6rem;
    padding-bottom: 6rem;

}


// =============
// FOOTER

.theme-footer {
    padding: 1rem 0 2rem 0;

    border-top: 1px dotted #BBB;

    font-family: $font-family-secondary;
}
