//
// site simple homepage
//

$background-color-intro:        #618BFF;


$default-scrollbar-width: 15px;

:root {
    --scrollBar-width: $default-scrollbar-width;
}

body {
    position: relative;
    font-family: $font-family-primary;
}

h1, h2, b {
    font-weight: $font-weight-semibold;
}

// defaults for nav-links
.nav-link {

    // default transition for nav-link. will apply when un-hovering a link
    transition: color $nav-item-color-transition-duration-long ease;

//     &.active {
//         font-weight: $font-weight-semibold;
//         color: $text-color-nav-default;
//     }
    &:not(.active):hover {
        color: $link-color-highlight;
        transition-duration: $nav-item-color-transition-duration;
    }
}

// PRIMARY NAVBAR //

.top-navbar {
    height: $page-primarynavbar-height;
    padding-top: 0;
    padding-bottom: 0;

    // for work on page freeze with scrollbar
    @at-root .sidepanel-open #{&} {  // = .sidepanel-open .top-navbar
        padding-right: var(--scrollBar-width);
    }

}

.navbar-brand {
    margin: 0 2rem 0 1rem;
    font-size: 1rem;
    padding: 0;
    color: $text-color-nav-default;
    font-weight: $font-weight-semibold;
}

// SECTION TYPES //

.theme-section {
    position: relative;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.theme-section-full {
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.theme-section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.theme-section-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// SPECIFIC SECTIONS //
#introduction {
    background-color: $background-color-intro;
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}



*[position=fixed] {
    color: #F00 !important;

}
*[position] {
    color: #F00 !important;

}
